<% include head %>
<% include nav %>
<div id="root">
    <div class="section group">
        <div class="col span_5_of_5 bighead bighead-barleft bigpadright">
            We empower our clients to forge their path into the future. Join us.
        </div>

    </div>
    <div class="section group">

        <div class="case-info col span_5_of_5 padboth">
            <form>
                <label>Your Name</label><br>
                <input type="text" name="name"><br>
                <label>Email or Phone</label><br>
                <input type="text" name="email"><br>
                <label>Company</label><br>
                <input type="text" name="company"><br>
                <label>Message</label><br>
                <textarea name="message" rows="4"></textarea><br>
                <a href="#">SEND MESSAGE.</a>
            </form>
        </div>

    </div>



    <% include footer %>
</div>
<% include foot %>
 <img src="/image/se.svg" style="float: left">
<div style="float: left; margin: 42px 0px 20px 2px; padding: 0px 18px;">
  <h3>There is much more.</h3>

    <!--<p>Our clients are Fortune 500 companies, startups, nonprofits, universities, publishers, technologists,
      philanthropists and most importantly, our partners. We value our clients on a real scale; as experts in their field
      and therefore partners in collaboration.</p>-->

    <p>Some of our most exciting work is not available to the general public.
      Contact us if you want to know more.</p>

    <p>Business development<br>
      <a href="mailto:business@posttool.com">business@posttool.com</a></p>
    <p>Press inquiries<br>
      <a href="mailto:press@posttool.com">press@posttool.com</a></p>

</div>