<div class="section group padboth">
    <div class="col span_2_of_5" style="border-top: 1px solid #333;">
        Post Tool
    </div>
    <div class="col span_3_of_5" style="border-top: 1px solid #333; padding-right: 0; text-align: right;">
        &copy; <%= new Date().getFullYear() %>
    </div>
</div>