<% include head %>
<% include nav %>
<div id="root">
<div class="section group">
    <div class="intro-bar"></div>
    <div class="col span_5_of_5 bighead bighead-barleft bigpadright">

      Thoughtful solutions framed by design. Always adaptive.
      <!--&amp; founded on technological artistry.-->
      <!--technological sophistication, or: mastery wizardry dexterity virtuosity expertise prowess?
      or, simply: founded on technology. ? -->
    </div>
</div>
<div class="section group padboth">
    <div class="col span_2_of_5"></div>
    <div class="col span_3_of_5 bigbody bigpadright">
      <!--NOTE: I'm trying to push this into a more active voice. -->
        We help Fortune 500 companies explode their productivity.
        We engineer foundations for lucrative start-ups.
        We produce white label developer kits for mobile applications.
        We build business intelligence tools for non-profits.
        We have hosted thousands of web sites. We've been crafting digital solutions for more than 25 years.
        Simply, we translate visions into elegantly designed software.

<!--
        In over 25 years of business,
        we helped Fortune 500 companies explode their productivity.
        We engineered foundations for lucrative start-ups.
        We produced white label developer kits for mobile applications.
        We built business intelligence tools for non-profits.
        We have hosted thousands of web sites.
        Simply put, we help countless clients translate their visions into elegantly designed software.

-->
        <br>
        <a href="/contact" class="request-case-study">REQUEST A CASE STUDY.</a>

    </div>
</div>

<a name="capabilities"></a>

<div class="section group padboth capabilities">
    <div class="col span_5_of_5" style="padding:0">
        <div class="col span_2_of_5 bighead">Capabilities</div>
        <div class="col span_3_of_5 topline"></div>
    </div>

    <div class="col span_1_of_5 hspan_2">
        <h3>Visual Design</h3>

        <p>We get graphic design. Post Tool has been involved in the San Francisco design community since the early 90s.
            We worked and learned from the greats like Michael Vanderbyl and Michael Cronan. We taught print and
            interaction design at the California College of the Arts. Whether you need
            direction or have a well established brand, we can accomodate.</p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Software Development</h3>

        <p>We love producing applications crafted for clients' objective needs, discovering your unique situational
            requirements and developing software to attain your desires.
            <!--We like to produce applications that can operate with a plan that is appropriate-->
            <!--to our client.-->
            We are experts at Java, Python, Javascript, Objective-C and Swift. We have
            used all major SQL databases with various persistence layers as well as Mongo and Redis.</p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Technical Documentation</h3>

        <p>Some clients come to us with requirements and wireframes in hand,
            many do not. Once we discover the scope of your application we can produce
            architecture diagrams, functional requirements, wireframes, work flow diagrams,
            entity-relationship diagrams, and more.</p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Content Management</h3>

        <p>Does your application have long term content management requirements? Some of the applications
            we develop manage terabytes of data with detailed permissions and work flow. We have developed
            content management systems on top of frameworks in Perl, Python, Java and Javascript
            connected to a variety SQL and NoSQL data bases.
        </p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Integration</h3>

        <p>You have data: it may be in Excel, on Facebook, Google spreadsheets, or, perhaps it's in a SQL database.
            You may also have existing applications and systems in your private network.
            We have experience with many platforms and are ready to help provide strategy and technical
            resources to integrate and monitor disparate sources and systems effectively.</p>
    </div>

    <div class="col span_1_of_5 hspan_2">
        <h3>Data Visualization</h3>

        <p>Does your application generate really big data sets? We can help you explore and exploit the limitless
            potential of data visualization.
            We have experience with design and development using a variety of Javascript and iOS libraries.</p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Interaction Design</h3>

        <p> As more daily work moves online, the need for increasingly complex web applications &ndash; either as a
                complement to existing products or software as service &ndash; becomes essential. We believe they
                should also be engaging. Users want intuitive interfaces that allow them to drag, drop, watch and play.
                We&rsquo;ve pioneered the design and technology behind many of these paradigms.
          </p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>User Experience</h3>

        <p>Do you have an existing application but want to improve the user experience? We do that!
            <!--We gather user feedback and other data about use and experience then work with
            you and your engineers to create a super-usable interface.-->
          Need users to browse through large amounts of information or perform complex tasks? How about something
            fun that lets users "play" or interact in unconventional ways? We have produced complex dashboard control
            panels as well as playful, entertaining, game-like experiences.
            <!--We are always happy to design/build.-->
        </p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>Mobile Applications</h3>

        <p>Mobile compatibility is no problem&mdash;we build responsive web sites. Yet,
            your application might need a native iOS 7 client.
            Whether you have an existing backend or need services to support it, we can help you
            design, develop, test, launch, maintain and evolve the app.
        </p>
    </div>
    <div class="col span_1_of_5 hspan_2">
        <h3>System Administration</h3>

        <p>We offer a variety of system administration services.
            Need a cluster? No problem. Distributed architecture is within reach. Get in touch
            if you want to discuss your particular circumstances.</p>
    </div>

</div>

<a name="clients"></a>

<div class="section group padboth">
    <div class="col span_3_of_5">
        <div class="bighead">Who We Work With</div>
        <div class="medium">
            Our clients are Fortune 500 companies, start-ups,
            nonprofits, universities, publishers, technologists,
            philanthropists and &ndash; most importantly &ndash;
            our clients are our partners.
            We value you as experts in
            your field and thus as partners in collaboration.


        </div>
        <div class="prompt"> Interested in learning more about our successful relationships with our clients?<br>
            <a href="/contact">REQUEST A CASE STUDY.</a></div>
    </div>
    <div class="col span_1_of_5 topline">
        <ul>
            <li>Nuance Communications</li>
            <li>Apple Computers</li>
            <li>Frog Design</li>
            <li>Sparkwise</li>
            <li>The Body Shop</li>
            <li>Chronicle Books</li>
            <li>California College of the Arts</li>
            <li>SF MOMA</li>
            <li>Getty Center</li>
            <li>Charles Bloszies</li>
            <li>Nokia</li>
            <li>Mills College</li>
        </ul>
    </div>
    <div class="col span_1_of_5 topline">
        <ul>
            <li>Yale University Press</li>
            <li>Oracle</li>
            <li>VMWare</li>
            <li>Nazareli Press</li>
            <li>Penguin Putnman Press</li>
            <li>Todd Hido</li>
            <li>Tabitha Soren</li>
            <li>Kamau Patton</li>
            <li>Southern Exposure Gallery</li>
            <li>Hackett-Freedman</li>
            <li>X Matters</li>
        </ul>
    </div>
</div>

<a name="press"></a>

<div class="section group padboth">
    <div class="col span_2_of_5">
        <div class="bighead">Press</div>
        <div class="medium">
            We distinguish ourselves
            through our ability to link design
            with technology, and continue
            to set the bar for excellence
            in our field.
        </div>
    </div>
    <div class="col span_1_of_5 topline">
        <h3>In Publications</h3>
      <!--NOTE: "Publications" connotes that PostTool wrote these things
        What other terms would better describe this collection?
        Critical Acclaim? Plaudits? Recognition? Testimonials? Citations? References? Praise for Post Tool?
        In the News? Cool People Talking about Us? -->
        <ul>
            <li>Blobjects,<br>San Jose Museum of Art</li>
            <li>Graphic Design for the 21st Century, Phaidon</li>
            <li>Adobe Masters Class: Web Site Redesign 2001</li>
            <li>MovingType, Designing for Time and Space</li>
            <li>Design Culture Now</li>
            <li>Sonic Graphics, <br>Seeing Sound</li>
            <li>Radical Graphics, <br>Chronicle Books</li>
            <li>Type in Motion, Rizzoli</li>
            <!--            <li>Typographics Three, <br>Hearst Books Intl.</li>
                        <li>Cool Sites, <br>Hearst Books Intl.</li>
                        <li>Eye Magazine <br>&lsquo;Serious Doodling&rsquo;</li>
            <li>IMG SRC 100</li>
            <li>Graphic Design in America, Rockport Publishers</li>
            <li>Communication Arts <br>&lsquo;Post Tool design&rsquo; </li>
            <li>Popeye Magazine-Japan &lsquo;PostTool&rsquo; </li> -->
            <li>C - Net Television</li>
            <li>MSNBC Television, The Site</li>
            <li>Critique Magazine</li>
            <li>Creative Review &lsquo;Brainshift&rsquo;</li>
            <!-- <li>ID Magazine &lsquo;An Interpretation of Dreams&rsquo;</li> -->
            <li>ID Magazine &lsquo;Electronic Youth&rsquo;</li>
            <li>Graphis Magazine <br>&lsquo;Multimedia by the Bay&rsquo;</li>
            <li>The AIGA Journal <br>&lsquo;Absolute Individuals&rsquo;</li>
            <li>U&amp;lc Magazine <br>&lsquo;Post Tool design&rsquo;</li>
            <li>On-line Design Magazine &lsquo;Digitizing the Child Within&rsquo;</li>
        </ul>

    </div>


    <div class="col span_1_of_5 topline">
        <h3>Notable Lectures</h3>
        <ul>
            <li>San Jose State University</li>
            <li>University of San Francisco Design Program</li>
            <li>Stanford University&rsquo;s MFA Program in Design</li>
            <li>Fabrica, Automatic Design</li>
            <li>The Netherlands Design Institute, &lsquo;D.DADA&rsquo;</li>
            <li>University of Hawaii &lsquo;Behavior is Form&rsquo;</li>
            <li>Beursschouwburg, Brussels</li>
            <li>Parsons &lsquo;Excavating the Archive&rsquo;</li>
            <li>SFMOMA, &lsquo;Digital Masters&rsquo;</li>
            <li>Sci Arc &lsquo;Differentiated Topographies&rsquo;</li>
            <li>Art Center Pasadena &lsquo;Audio Interface&rsquo;</li>
            <li>AIGA Seattle Minds On Conference</li>
            <li>AIGA National Convention</li>
            <li>The Creative Show, London</li>
            <li>SVA How We learn What We learn</li>
            <li>Minneapolis AIGA Design Camp</li>
            <li>AIGA National Convention &lsquo;Post Tv&rsquo; </li>
            <li>VISCOM &lsquo;Interactive Design&rsquo;</li>
        </ul>
    </div>
    <div class="col span_1_of_5 topline"></div>
    <div class="section group">
        <div class="col span_5_of_5" style="text-align:right; padding:20px 1px 10px 0;">
            <a href="/process">Now: Learn about our Process.</a>
        </div>
    </div>
</div>
<% include footer %>
</div>
<% include foot %>




