<% include head %>
<% include nav %>
<div id="root">
    <div class="section group">
        <div class="intro-bar"></div>
        <div class="col span_4_of_5 bighead bighead-barleft">
            Thoughtful solutions framed by design &amp; supported by expertly produced technology.
            <!--Design-driven application development. Expertly produced technology.-->
        </div>
    </div>

    <div class="section group">
        <div class="col span_5_of_5 bighead">
            Capabilities
        </div>

        <div class="col span_1_of_5 hspan_2">
            <h3>Visual Design</h3>

            <p>Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
                Morbi quis felis vel enim feugiat condimentum. Nam non egestas diam. In quis ante massa.</p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Software Development</h3>

            <p>Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.
                Maecenas sed massa quis neque eleifend euismod. </p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Technical Documentation</h3>

            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas tristique augue at auctor varius. Pellentesque blandit maximus erat,
                in tristique nulla efficitur nec. Sed interdum in purus vel fringilla.
                Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.</p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Content Management</h3>

            <p>Sed interdum in purus vel fringilla.
                Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.
                Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
            </p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Integration</h3>

            <p>Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
                Morbi quis felis vel enim feugiat condimentum. Nam non egestas diam. In quis ante massa.</p>
        </div>

        <div class="col span_1_of_5 hspan_2">
            <h3>Data Visualization</h3>

            <p>Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
                Morbi quis felis vel enim feugiat condimentum. Nam non egestas diam. In quis ante massa.</p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Interaction Design</h3>

            <p>Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.
                Maecenas sed massa quis neque eleifend euismod. </p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>User Experience</h3>

            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas tristique augue at auctor varius. Pellentesque blandit maximus erat,
                in tristique nulla efficitur nec. Sed interdum in purus vel fringilla.
                Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.</p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Mobile Applications</h3>

            <p>Sed interdum in purus vel fringilla.
                Proin ac rhoncus mi, sed cursus tellus. Mauris efficitur, nibh vitae pulvinar pretium,
                sem sem mattis dolor, non venenatis enim turpis ut ligula.
                Integer eget mauris a arcu blandit fringilla.
                Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
            </p>
        </div>
        <div class="col span_1_of_5 hspan_2">
            <h3>Development</h3>

            <p>Maecenas sed massa quis neque eleifend euismod. Ut lorem ipsum, iaculis in facilisis ut,
                posuere sed sapien. Cras ipsum urna, fringilla sit amet sapien vitae, mattis posuere orci.
                Morbi quis felis vel enim feugiat condimentum. Nam non egestas diam. In quis ante massa.</p>
        </div>
    </div>


    <div class="section group">
        <div class="col span_3_of_5">
            <div class="bighead">Who We Work With</div>
            <div class="medium">
                Our clients are Fortune 500 companies, startups,
                nonprofits, universities, publishers, technologists,
                philanthropists and most importantly, our partners.
                We value our clients on a real scale; as experts in
                their field and therefore partners in collaboration.
            </div>
        </div>
        <div class="col span_1_of_5">
            <li>Nuance Communications</li>
            <li>Apple Computers</li>
            <li>Frog Design</li>
            <li>Sparkwise</li>
            <li>The Body Shop</li>
            <li>Chronicle Books</li>
            <li>California College of the Arts</li>
        </div>
        <div class="col span_1_of_5">
            <li>Nuance Communications</li>
            <li>Apple Computers</li>
            <li>Frog Design</li>
            <li>Sparkwise</li>
            <li>The Body Shop</li>
            <li>Chronicle Books</li>
            <li>California College of the Arts</li>
        </div>
    </div>

</div>
</html>