<% include head %>
<% include nav %>
<div id="root">
    <div class="section group">
        <div class="col span_5_of_5 bighead bighead-barleft bigpadright">
            <%= presentation.name %>.
        </div>

    </div>
    <div class="section group">
        <div class="case-info col span_5_of_5 padboth">
            <h3>Deliverables</h3>
            <% for (var i=0; i<presentation.slides.length; i++){%>
            <div><%=presentation.slides[i].title%></div>
            <%}%>
            <h3>Comments</h3>
            <% for (var i=0; i<presentation.comments.length; i++){%>
            <div><%=presentation.comments[i].text%></div>
            <%}%>
        </div>
    </div>
    <% include footer %>
</div>
<% include foot %>