<% include head %>
<% include nav %>
<div id="overlay"></div>
<div id="root">
    <div class="section group">
    <div class="col span_5_of_5 bighead bighead-barleft bigpadright">
            Our approach is iterative, concise and inclusive.
        </div>

    </div>


    <div class="section group padboth">
        <div class="col span_2_of_5"></div>
        <div class="col span_3_of_5">
            <h3 style="border-bottom: 1px solid #333;">Working With Us</h3>

            <div class="medium">
                Our process builds and supports the best opportunities currently available.

                Post Tool classifies all software development projects into phases. A typical project progresses through
                each of the following phases sequentially. Often we loop through the phases continuously as needs and
                requirements grow in complexity. Our goal is to keep the software usable and logically consistent as it
                adapts to use and matures.
            </div>
            <div class="prompt"> Interested in learning more about our successful relationships with our clients?<br>
                <a href="/contact">REQUEST A CASE STUDY.</a></div>

        </div>

    </div>



    <div class="section group padboth">

        <div class="col span_2_of_5" style="height: 0;">
            <!--<img id="gantt" src="image/gantt.svg" class="svg" width="100%">-->
        </div>
        <div class="col span_3_of_5"></div>



        <div class="col span_2_of_5"></div>
        <div class="col span_3_of_5">
            <h3 style="border-bottom: 1px solid #333;">Critical Phases</h3>
        </div>



        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Discovery </h3>
        </div><div class="col span_2_of_5">
            <p>One goal of discovery is to establish a succinct vocabulary that all participants can use to communicate.
               We learn your language, then refine, standardize, and document it. We then use this language to establish all the
                requirements and desires of key stakeholders.</p>

            <p>Sometimes software is developed to support an existing process and sometimes is offers something
                completely new. When software will support existing processes, an initial research project is required.
                We observe, interview and document participants as they operate &lsquo;in the field&rsquo;. Then we
                interject software where we can improve the experience. If the product represents something completely
                new, we attempt to relate it to existing processes and understand what we intend to improve. </p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Planning</h3>
        </div><div class="col span_2_of_5">
            <p>We quantify behavior in terms of activities by role and document workflows for significant
                activities. This mapping allows us to estimate resource requirements in detail.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Documentation</h3>
        </div><div class="col span_2_of_5">
            <p>The documentation represents an overview of the application as well as wireframes and process flows for
                identified personas.
                From the discovery and planning documents, we can implement initial wireframes. These wireframes can be
                tested with users to validate research findings. They can also be used to indicate high level components
                or visual rhetoric that will be used throughout. Once satisfied with the initial wireframe directions,
                we produce complete documentation.
                Post Tool believes that research, documentation, design and development are a unified process, so all
                team members participate in developing the documentation. This approach keeps the entire team engaged in
                what we consider the most difficult part of the process.
            </p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Prototyping</h3>
        </div><div class="col span_2_of_5">
            <p>Sometimes we have the luxury of prototyping an application before we build out the entire specification.
                This requires the team and stakeholders to identify the highest ranked features for development in the
                most efficient manner possible. This work allows us to test assumptions directly with users in front of
                a device.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Testing</h3>
        </div><div class="col span_2_of_5">
            <p>We facilitate user testing in many forms: online, in person, using wireframes, HTML or with a finished
                application. We establish metrics that are tracked and analyzed. This allows us to develop a roadmap for
                revision of existing features or the development of new ones.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Visual Design</h3>
        </div><div class="col span_2_of_5">
            <p>Post Tool has received dozens of awards for its user interface innovation throughout the &lsquo;90s.
                Since then we have partnered with some of the best design firms in the world to produce inventive and
                sophisticated user interfaces.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Platform Selection</h3>
        </div><div class="col span_2_of_5">
            <p>There is a wide assortment of platforms, libraries, frameworks, licenses, programming languages, etc.
                Java, Ruby, Django, Apache ... &ldquo;The Cloud&rdquo; If you are familiar with the jargon, we will
                openly discuss details in a technical way. If you are not, we will walk through the pros and cons of all
                approaches especially in terms of cost of maintenance.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Content Management</h3>
        </div><div class="col span_2_of_5">
            <p>Your data ecosystem is complex. Often legacy systems must be closely migled with new functionality. We
                develop content strategies and processes that help you identify, prioritize, produce and control the
                flow of content to meet the needs of all persona. We customize and configure sophisticated content
                management systems capable of managing &lsquo;big data&rsquo; scale content and media.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Application Development</h3>
        </div><div class="col span_2_of_5">
            <p>As more daily work moves online, the need for increasingly complex web applications &ndash; either as a
                complement to existing products or software as service &ndash; becomes essential. Our UX, design and
                development teams build highly functional and custom applications to fit your needs. We believe they
                should also be engaging. Users want intuitive interfaces that allow them to drag, drop, watch and play.
                We&rsquo;ve pioneered the design and technology behind many of these paradigms.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Evaluation </h3>
        </div><div class="col span_2_of_5">
            <p>Here we are. The application is in beta. Does it meet our expectations? Where do we go from here? These
                questions with key stakeholders and a round of formal user testing will inform our next steps.</p>
        </div>
        <div class="col span_2_of_5"></div>
        <div class="col span_1_of_5">
            <h3>Maintenance</h3>
        </div><div class="col span_2_of_5">
            <p>A primary project goal is to enable our clients to self-sustain the success of an application. After
                completing a project, we collaborate with you to determine how many team members you need to maintain
                digital assets, help train your people to use the necessary systems and work with you to develop a plan
                for future maintenance.</p>
        </div>
    </div>
  <div class="section group padboth">
    <div class="col span_5_of_5" style="text-align:right;">
        <a href="/contact">Now: Contact us to get started</a>
    </div></div>
</div>
<% include footer %>
</div>
<% include foot %>
