.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.col {
    display: block;
    float: left;
    padding: 18px 36px 36px 0;
    box-sizing: border-box;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_5_of_5 {
    width: 100%;
}

.span_4_of_5 {
    width: 80%;
}

.span_3_of_5 {
    width: 60%;
}

.span_2_of_5 {
    width: 40%;
}

.span_1_of_5 {
    width: 20%;
}

.hspan_2 {
    height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media only screen and (max-width: 800px) {
    .col {
        margin: 18px 0 18px 0;
    }
}

@media only screen and (max-width: 800px) {
    .span_5_of_5 {
        width: 100%;
    }

    .span_4_of_5 {
        width: 100%;
    }

    .span_3_of_5 {
        width: 100%;
    }

    .span_2_of_5 {
        width: 100%;
    }

    .span_1_of_5 {
        width: 50%;
    }
}