@font-face {
    font-family: "Helvetica Neue Condensed Bold";
    font-weight: bold;
    src: url("HelveticaNeue-CondensedBold.otf") format("opentype");
}

* {
    font-family: "Helvetica Neue", sans-serif;
    color: #6B6A6A;
    font-size: 15px;
}

body {
    background-color: #FCF749;
    margin: 0;
}

#root {
    background-color: #EEEFEA;
    margin: 80px 20px 0 0;
    z-index: 2;
    display: none;
}

#root ul {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

#root li {
    font-size: 13px;
    color: #333;
    padding-bottom: 10px;
    letter-spacing: .01em;
}

h1, .bighead {
    font-size: 64px;
    font-family: "Helvetica Neue Condensed Bold", sans-serif;
    font-weight: 700;
    color: #111;
    letter-spacing: 1px;
}

.bighead-barleft {
    border-left: 16px solid #111;
    padding: 64px 64px 48px 64px;
}

.bigbody {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 23px;
    line-height: 38px;
    color: #444;
}

.bigpadright {
    padding-right: 215px;
}

.padboth {
    padding-left: 18px;
    padding-right: 18px;
}

h3, .head {
    color: #333;
}

.capabilities h3 {
    height: 30px;
    border-bottom: 3px solid #eee;
}

.capabilities h3:hover {
    border-bottom: 3px solid #111;
}

.medium {
    font-size: 24px;
    color: #333;
    padding-top: 15px;
}

.prompt {
    padding: 10px 20px 0 0;
    letter-spacing: .02em;
}

#root a {
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

#root a:hover {
    background-color: #111;
    color: #fff;
}

#root form {
    line-height: 20px;
}

#root form label {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#root form input, form textarea {
    font-family: "Helvetica Neue";
    font-size: 17px;
    padding: 4px;
    margin: 0 0 8px 0;
    border: 1px solid #eee;
    width: 100%;
}

.case-info {

}

/* overlay */
@media only screen and (min-width: 900px) {
    #overlay {
        position: absolute;
        top: 120px;
        left: 1000px;
        width: 400px;
        height: 400px;
        background-color: #fff;
        display: none;
    }
}

/**** smaller 8?*/

@media only screen and (min-width: 1050px) {
    #root {
        width: 1150px;
    }
}

@media only screen and (max-width: 850px) {

    #root {
        margin-top: 0;
    }

    #root div:empty {
        display: none;
    }

    h1, .bighead {
        font-size: 36px;
    }

    .bigpadright {
        padding-right: 35px;
    }

    .bighead-barleft {
        padding: 32px 32px 24px 32px;
    }

}